NODE_ENV=development
ENVIRONMENT=staging
POSTGRES_DB=pricewatch_db
POSTGRES_USER=pricewatch_admin
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
DATABASE_URL=postgresql://pricewatch_admin:change_me@database:5432/pricewatch_db?schema=public
PORT=3000
BACKEND_PORT=3000
PYTHON_SERVICE_URL=http://python-service:8000
PYTHON_PORT=8000
FRONTEND_PORT=4200
ADMIN_EMAIL=lur.lopez.f@mail.pucv.cl
ADMIN_PASSWORD=change_me_too
